<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="/css/js.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
    </head>
<body>
    <div class="js-page-wrapper">
        <p><a href="/">Home</a></p>
        <h2><%- css.title %></h2>
        <hr>
        <div class="description-wrapper">
            <%- css.description %>
        </div>
        <div class="html text-center">
            <%- css.html %>
        </div>
        <%if (css.code) { %>
            <div class="code-main-wrapper">
                <div class="code-wrapper">
                    <code><%- str %></code>
                </div>
            </div>
        <% } %> 
        <%if (css.button) { %>
            <button class="btn btn-success trigger-btn" onclick="(<%= css.button %>())"><%= css.name %></button>
        <% } %>   
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        <%- css.onLoad %>
    </script>
    <script>
        <%- css.js %>
    </script>
</body>
</html>